    <!-- header  -->
    <header>
        <div class="container">
            <a href="/">
                <p class="logo">
                    ASTUZIA
                </p>
            </a>
            <nav>
                <a href="/#somos-astuzia">Quienes somos</a>
                <a href="/#nuestros-cursos">Cursos</a>
                <a href="/login">Log In </a>
            </nav>
        </div>
    </header>