        <section id="arduino">
            <h1>Curso de Arduino</h1>
            <form action="#info-arduino"><button>VER MÁS</button></form>
        </section>

        <section id="info-arduino">
            <div class="container">
                <div class="img-container"></div>
                <div class="texto">
                <h2>Somos <span class="color-marca">ASTUZIA</span></h2>
                <p>
                    El curso de Arduino te brindará las herramientas para que puedas programar objetos. Durante 
                    la cursada, aprenderás nociones de la electrónica y la combinarás con la programación en 
                    este divertido e interesante lenguaje.
                </p>
                <p>
                    La cursada arrancará el día 5 de agosto de 2022 y finaliza el 30 de noviembre,
                    bajo la modalidad híbrida.
                    Debido al uso de materiales, creemos que los/as estudiantes deben concurrir presencial
                    un día semanalmente, para aplicar los conocimientos vistos durante el curso.
                    Los días y horarios son los siguientes: <br>
                    Los lunes de 19:00 a 22:00, se cursa en Moreno 1623 CABA. <br>
                    Los jueves de 19:00 a 22:00, se cursa virtual.
                </p>
                <p>
                    El curso se aprueba con la entrega de un proyecto final libre, en donde crearás y ejecutarás
                    un objeto diseñado por ti. Te esperamos!
                </p>
            </div>
            </div>
        </section>

        <section id="otros-cursos-arduino">
            <div class="container">
                <h2>Otros Cursos</h2>
                <div class="cursos">
                    <div class="carta">
                        <h3>Programador Full-Stack</h3>
                        <p>
                            El programador Full-Stack es un profesional que cuenta con 
                            diversas habilidades informáticas,que puede desenvolverse en el front-end y/o back-end de 
                            un desarrollo web.Con este curso, integrarás herramientas como (html,css,javascript)
                            que te permitirán crear y desarrrolar portales en línea.
                        </p>
                        <form action="/fullstack"><button>Más información</button></form>
                    </div>
                    <div class="carta">
                        <h3>Programador en Python</h3>
                        <p>
                            Python es un lenguaje de programación de propósito general, 
                            es un lenguaje multifascetico. Lo más importante es que se trata de un lenguaje interpretado,
                            lo que significa que el código escrito no se traduce realmente a un formato
                            legible por el ordenador en tiempo de ejecución.
                        </p>
                        <form action="/python"><button>Más información</button></form>
                    </div>
                </div>
            </div>
        </section>

        <section id="Log-In">
            <h2>Sumate a esta aventura</h2>
            <form action="/registrate"><button>REGISTRATE</button></form>
        </section>