            <section id="fullstack">
                <h1>Curso Full-Stack </h1>
                <form action="#info-fullstack"><button>VER MÁS</button></form>
            </section>

            <section id="info-fullstack">
                <div class="container">
                    <div class="img-container"></div>
                    <div class="texto">
                    <h2>Somos <span class="color-marca">ASTUZIA</span></h2>
                    <p>
                        El curso de programación Full-Stack te brindará las herramientas para que puedas insertarte en 
                        los trabajos IT. Aquí veras las tecnologías de HTML y CSS para el front-end de
                        las páginas, como tambiém, Javascript y node.js, para el back-end. Además, aprenderás a 
                        utilizar MySQL para la base de datos.
                    <p>
                        La cursada arrancará el día 5 de agosto de 2022 y finaliza el 30 de noviembre,
                        bajo la modalidad virtual. Los días y horarios son los siguientes: <br>
                        Los martes de 19:00 a 22:00. <br>
                        Los jueves de 19:00 a 22:00.
                    </p>
                    <p>
                        El curso se aprueba con la entrega de un proyecto final libre, en donde crearás y desarrollarás
                        una página web completa. Te esperamos!
                    </p>
                </div>
                </div>
            </section>

            <section id="otros-cursos-fullstack">
                <div class="container">
                    <h2>Otros Cursos</h2>
                    <div class="cursos">
                        <div class="carta">
                            <h3>Programador en Arduino</h3>
                            <p>
                                Arduino es una plataforma electrónica de código abierto basada en 
                                hardware y software de fácil manejo que se utiliza para la construcción de proyectos electrónicos. 
                                Si te gusta la robótica y quieres aprender a programar en esta tecnología, 
                                llegaste al lugar adecuado.
                            </p>
                            <form action="/arduino"><button>Más información</button></form>
                        </div>
                        <div class="carta">
                            <h3>Programador en Python</h3>
                            <p>
                                Python es un lenguaje de programación de propósito general, 
                                es un lenguaje multifascetico. Lo más importante es que se trata de un lenguaje interpretado,
                                lo que significa que el código escrito no se traduce realmente a un formato
                                legible por el ordenador en tiempo de ejecución.
                            </p>
                            <form action="/python"><button>Más información</button></form>
                        </div>
                    </div>
                </div>
            </section>

            <section id="Log-In">
                <h2>Sumate a esta aventura</h2>
                <form action="/registrate"><button>REGISTRATE</button></form>
            </section>