
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astuzia</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/fullstack.css" rel="stylesheet">
    <link href="../css/arduino.css" rel="stylesheet">
    <link href="../css/python.css" rel="stylesheet">
    <link href="../css/login.css" rel="stylesheet">
    <link href="../css/registrate.css" rel="stylesheet">

</head>
<body>
    {{>navbar}}

    {{{body}}}

    {{>footer}}

</body>
</html>