            <section id="python">
                <h1>Curso de Python</h1>
                <form action="#info-python"><button>VER MÁS</button></form>
            </section>

            <section id="info-python">
                <div class="container">
                    <div class="img-container"></div>
                    <div class="texto">
                    <h2>Somos <span class="color-marca">ASTUZIA</span></h2>
                    <p>
                        El curso de programación de Python te brindará los conocimientos de una de los lenguajes
                        más utilizados en el mundo,para que puedas insertarte en los trabajos IT. 
                        Aquí veras los diferentes usos posibles que se le pueden dar a esta tecnología
                        tan potente y podrás inclinarte por la rama en donde más te guste aplicarla. <br>
                        Tendrás la oportunidad de trabajar para empresas asociadas a nuestro programa,
                        para aplicar este lenguaje en la rama de progrmación que mas te guste. 
                    <p>
                        La cursada arrancará el día 5 de agosto de 2022 y finaliza el 30 de noviembre,
                        bajo la modalidad virtual. Los días y horarios son los siguientes: <br>
                        Los miercoles de 19:00 a 22:00. <br>
                        Los viernes de 19:00 a 22:00.
                    </p>
                    <p>
                        El curso se aprueba con la entrega de un proyecto final libre, en donde crearás y desarrollarás
                        un programa en Python para la empresa asociada que elijas. Te esperamos!
                    </p>
                </div>
                </div>
            </section>

            <section id="otros-cursos-python">
                <div class="container">
                    <h2>Otros Cursos</h2>
                    <div class="cursos">
                        <div class="carta">
                            <h3>Programador Full-Stack</h3>
                            <p>
                                El programador Full-Stack es un profesional que cuenta con 
                                diversas habilidades informáticas,que puede desenvolverse en el front-end y/o back-end de 
                                un desarrollo web.Con este curso, integrarás herramientas como (html,css,javascript)
                                que te permitirán crear y desarrrolar portales en línea.
                            </p>
                            <form action="/fullstack"><button>Más información</button></form>
                        </div>
                        <div class="carta">
                            <h3>Programador en Arduino</h3>
                            <p>
                                Arduino es una plataforma electrónica de código abierto basada en 
                                hardware y software de fácil manejo que se utiliza para la construcción de proyectos electrónicos. 
                                Si te gusta la robótica y quieres aprender a programar en esta tecnología, 
                                llegaste al lugar adecuado.
                            </p>
                            <form action="/arduino"><button>Más información</button></form>
                        </div>
                    </div>
                </div>
            </section>

            <section id="Log-In">
                <h2>Sumate a esta aventura</h2>
                <form action="/registrate"><button>REGISTRATE</button></form>
            </section>