<br>
<br>
<br>
<br>
<br>
<br>
<section id="registrate">
        <form class="registrate" action="" method="post">
            <h1 class="titulo"> Registrate</h1>
            <label>
                <input placeholder="Nombre" type="text" id="nombre" name="nombre">
            </label>
            <label>
                <input placeholder="Apellido" type="text" id="apellido" name="apellido">
            </label>
            <label>
                <input placeholder="Nuevo nombre de usuario" type="text" id="nombreusuario" name="nombreusuario">
            </label>
            <label>
                <input placeholder="Constraseña" type="password" id="password" name="password">
            </label>
            <a href="/login" class="link">¿Ya tienes usuario? Inicia Sesión</a>
            <button id="button">
                Registrarse
            </button>
        </form>
        <br>
</section>